
<InputDesign />

<MudDialog>
    <DialogContent>

        <div class="px-sm-2 mt-n4 px-1 pb-4 form-div">
            
            <DialogHeader title="CHANGE PASSWORD" icon="@Icons.Material.Outlined.Lock" />

            <div class="mt-3">
                <form @onsubmit="HandleSubmit">
                    <div class="main-input-cont">
                        <label for="password" class="d-flex">Password <label class="ml-1" style="color: #FF4F53;">*</label></label>
                        <MudTextField @bind-Value="payload.CurrPassword"
                            Placeholder="******"
                            Variant="Variant.Outlined"
                            InputType="@PasswordInput"
                            Margin="Margin.Dense"
                            Adornment="Adornment.End"
                            Class="w-100 mb-3"
                            Style="margin-top: -3px;"
                            AdornmentIcon="@PasswordInputIcon"
                            OnAdornmentClick="ShowPassword" />
                    </div>
                    <div class="main-input-cont">
                        <label for="password" class="d-flex">New Password <label class="ml-1" style="color: #FF4F53;">*</label></label>
                        <MudTextField @bind-Value="payload.NewPassword"
                            Placeholder="******"
                            Variant="Variant.Outlined"
                            InputType="@NewPasswordInput"
                            Margin="Margin.Dense"
                            Adornment="Adornment.End"
                            Class="w-100 mb-3"
                            Style="margin-top: -3px;"
                            AdornmentIcon="@NewPasswordInputIcon"
                            OnAdornmentClick="ShowNewPassword" />
                    </div>
                    <div class="main-input-cont">
                        <label for="password" class="d-flex">Confirm Password <label class="ml-1" style="color: #FF4F53;">*</label></label>
                        <MudTextField @bind-Value="payload.ConfirmPass"
                            Placeholder="******"
                            Variant="Variant.Outlined"
                            InputType="@ConfPasswordInput"
                            Margin="Margin.Dense"
                            Adornment="Adornment.End"
                            Class="w-100 mb-3"
                            Style="margin-top: -3px;"
                            AdornmentIcon="@ConfPasswordInputIcon"
                            OnAdornmentClick="ShowConfirmPassword" />
                    </div>
                    <div class="d-flex justify-content-end gap-2">
                        <SubmitButton isLoading="isLoading" button_name="SUBMIT" className="submit-btn"/>
                    </div>
                </form>
            </div>

        </div>
    </DialogContent>
</MudDialog>

@code {

    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = new MudDialogInstance();

    [Parameter] public ChangePassDTO? payload { get; set; } = new ChangePassDTO();

    public bool isLoading = false;

    void Cancel() => MudDialog.Cancel();

    bool isShowPass;

    bool isShowConfPass;

    bool isShowNewPass;

    InputType PasswordInput = InputType.Password;

    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    InputType ConfPasswordInput = InputType.Password;

    string ConfPasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    InputType NewPasswordInput = InputType.Password;

    string NewPasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void HandleSubmit()
    {
        MudDialog.Close(DialogResult.Ok(payload));
    }

    void ShowPassword()
    {
        @if (isShowPass)
        {
            isShowPass = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShowPass = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    void ShowConfirmPassword()
    {
        @if (isShowConfPass)
        {
            isShowConfPass = false;
            ConfPasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            ConfPasswordInput = InputType.Password;
        }
        else
        {
            isShowConfPass = true;
            ConfPasswordInputIcon = Icons.Material.Filled.Visibility;
            ConfPasswordInput = InputType.Text;
        }
    }

    void ShowNewPassword()
    {
        @if (isShowNewPass)
        {
            isShowNewPass = false;
            NewPasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            NewPasswordInput = InputType.Password;
        }
        else
        {
            isShowNewPass = true;
            NewPasswordInputIcon = Icons.Material.Filled.Visibility;
            NewPasswordInput = InputType.Text;
        }
    }

}
